{% extends 'base.html' %}

{% block head_title %}
Unalbion - Home
{% endblock head_title %}

{% block content %}

<div class="container mt-4">
    <div class="card" style="width: 15rem;">
        <img src="https://render.albiononline.com/v1/item/Excellent%20Spirit%20Paws@0.png?locale=en" class="card-img-top img-fluid img-thumbnail" width="100" height="100" alt="...">
        <div class="card-body">
            <h5 class="card-title">Animal Artifacts</h5>
            <p class="card-text">Breakdown artifacts to earn profit.</p>
            <a href="#" class="btn btn-primary btn-danger">Calculate</a>
        </div>
    </div>

    
</div>

{% endblock content %}