{% load potion_filters %}

<!-- <h5 class="text-center">Animal Artifacts</h5> -->
<div class="table-responsive">
    <table class="table table-bordered text-center align-middle" id="animal-artifact-table">
        <thead class="table-dark">
            <tr>
                <th>Animal Name</th>
                <th>Rugged (T3)</th>
                <th>Fine (T5)</th>
                <th>Excellent (T7)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in artifact_items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <input type="number" class="form-control form-control-sm ingredient-input"
                        name="artifact_{{ item.id }}_{{ artifact_tiers.0 }}"
                        value="{{ artifact_prices_by_item|get_item:item.id|get_item:artifact_tiers.0|default:'' }}"
                        placeholder="Price"
                        data-code-base="{{ item.code_base }}"
                        data-tier="{{ artifact_tiers.0 }}">
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm ingredient-input"
                        name="artifact_{{ item.id }}_{{ artifact_tiers.1 }}"
                        value="{{ artifact_prices_by_item|get_item:item.id|get_item:artifact_tiers.1|default:'' }}"
                        placeholder="Price"
                        data-code-base="{{ item.code_base }}"
                        data-tier="{{ artifact_tiers.1 }}">
                </td>
                <td>
                    <input type="number" class="form-control form-control-sm ingredient-input"
                        name="artifact_{{ item.id }}_{{ artifact_tiers.2 }}"
                        value="{{ artifact_prices_by_item|get_item:item.id|get_item:artifact_tiers.2|default:'' }}"
                        placeholder="Price"
                        data-code-base="{{ item.code_base }}"
                        data-tier="{{ artifact_tiers.2 }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
