{% load potion_filters %}

<!-- <h5 class="text-center">Herbs</h5> -->
<div class="table-responsive">
    <table class="table table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Herbs</th>
                <th>Market price</th>
            </tr>
        </thead>
        <tbody>
            {% for herb in herb_ingredients %}
            <tr>
                <td>{{ herb.name }}</td>
                <td>
                    <input type="number" class="form-control form-control-sm ingredient-input"
                        name="ingredient_{{ herb.id }}"
                        value="{{ ingredient_prices|get_item:herb.code|default:'' }}"
                        data-ingredient="{{ herb.code }}"
                        placeholder="Price per unit"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
