{% extends 'base.html' %}

{% block head_title %}
Unalbion - Animal Artifacts
{% endblock head_title %}

{% block content %}

{% load static %}


<div class="container">
    <div class="row mb-3 mt-3">
        <div class="col-md-12">
            <h1>Animal Artifacts</h1>
            <p>Enter the currrent market price of each animal artifact, being sold at the market.</p>
        </div>
    </div>

    <form id="animal_artifacts_form" name="animal_artifacts_form" method="POST"
        action="{% url 'animal_artifacts' %}/#profit_row">
        {% csrf_token %}
        <table action={% url 'animal_artifacts' %} method="POST" class="table table-hover table-sm">
            <!-- <caption>Enter the currrent Market Price each animal artifact is being sold at the market </caption> -->
            <thead class="">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Animal Name</th>
                    <th scope="col">Rugged (t3)</th>
                    <th scope="col">Fine (t5)</th>
                    <th scope="col">Excellent (t7)</th>
                </tr>
            </thead>
            <tbody class="">
                {% for r,f,e in artifact_zipped_list %}
                <tr>
                    <th scope="row" class="align-middle">{{forloop.counter}}</th>
                    <td class="align-middle">{{r.name}}</td>

                    <td><input type="number" class="form-control" id={{r.code_name}} placeholder="Enter Price"
                            value={{r.market_price}} name={{r.code_name}} data-name="{{r.name}}" data-tier="T3 Rugged">
                    </td>
                    </td>
                    <td><input type="number" class="form-control" id={{f.code_name}} placeholder="Enter Price"
                            value="{{f.market_price}}" name={{f.code_name}} data-tier="T5 Fine"></td>
                    </td>
                    <td><input type="number" class="form-control" id={{e.code_name}} placeholder="Enter Price"
                            value="{{e.market_price}}" name={{e.code_name}} data-tier="T7 Excellent"></td>
                    </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <button type="submit" class="btn albion-btn">Calculate Profit</button>
            </div>
        </div>

    </form>
    <div class="row mb-3 mt-3 d-none" id="profit_row">
        <div class="col-md-6">
            <h1>Profits</h1>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkChecked" name="show_only_profit"
                    checked>
                <label class="form-check-label" for="checkChecked">
                    Show only profitable artifacts
                </label>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="shadow_profit"></li>
                <li class="list-group-item" id="root_profit"></li>
                <li class="list-group-item" id="spirit_profit"></li>
                <li class="list-group-item" id="werewolf_profit"></li>
                <li class="list-group-item" id="imp_profit"></li>
                <li class="list-group-item" id="runestone_profit"></li>
                <li class="list-group-item" id="dawn_profit"></li>
            </ul>
            <!-- <p id="shadow_profit"></p>
            <p id="root_profit"></p>
            <p id="spirit_profit"></p>
            <p id="werewolf_profit"></p>
            <p id="imp_profit"></p>
            <p id="runestone_profit"></p>
            <p id="dawn_profit"></p> -->

            
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>

{% endblock content %}