.roboto-albion {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html, body {
    height: 100%;
}

.roboto-albion {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.albion-btn {
    background-color: #701604;
    color: #fff;
}

.albion-btn:hover {
    background-color: #c63000;
    color: #fff;
}

.albion-btn-outline {
    border: 2px solid #701604;
    background-color: white;
    color: #701604;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.375rem;
}

.albion-btn-outline:hover {
    background-color: #701604;
    color: white;
}

/* Custom pill tab styling */
.nav-pills .nav-link {
    color: #701604;
    border-radius: 0.375rem;
    text-align: left;
    justify-content: flex-start; /* aligns icon + text to the left */
    padding-left: 1rem; /* optional: adds space from edge */
}

.nav-pills .nav-link:hover {
    background-color: #f3e6e2;
    color: #701604;
}

.nav-pills .nav-link.active {
    background-color: #701604;
    color: white;
}


/* Custom Albion table theme */
.albion-table thead {
    background-color: #B97A57;
    color: white;
}

.albion-table th {
    background-color: #B97A57;
    color: white;
    border-color: #B97A57;
}

.albion-table td {
    border-color: #B97A57;
}



