{% load static %}

<nav class="navbar navbar-expand-lg ua-nav py-2">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo5.png' %}" alt="Unalbion Logo" width="110" class="d-inline-block align-text-top">
        </a>

        <!-- Mobile toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav links + user control -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav me-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profitMethodsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profit Methods
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profitMethodsDropdown">
                        <li><a class="dropdown-item" href="{% url 'animal_artifacts' %}">Animal Artifacts</a></li>
                        <li><a class="dropdown-item" href="{% url 'fishing_bait' %}">Fishing Bait</a></li>
                        <li><a class="dropdown-item" href="{% url 'potion_calculator' %}">Potions</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><span class="dropdown-item text-muted">Cooking (Coming Soon)</span></li>
                    </ul>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-3">
                    <li class="nav-item">
                        <a class="nav-link ua-pill" href="#">
                            Welcome, <strong>{{ user.username }}</strong>
                        </a>
                    </li>
                </ul>
                <form class="d-flex" method="POST" action="{% url 'accounts' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" type="submit" name="logout-form">Logout</button>
                </form>
            {% else %}
                {% include 'accounts/login.html' %}
            {% endif %}
        </div>
    </div>
</nav>
